<mat-nav-list>
  <h3 matSubheader>Project</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>Project Home</span>
    <span matLine matSubheader>view your projects</span>
  </mat-list-item>
  <h3 matSubheader>Calendar</h3>
  <mat-list-item>Cal Home</mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <span mat-line>Moth</span>
    <span mat-line mat-subheader> view on month </span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="week"></mat-icon>
    <span mat-line>Week</span>
    <span mat-line mat-subheader> view on week </span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
    <span mat-line>Day</span>
    <span mat-line mat-subheader> view on daily </span>
  </mat-list-item>
</mat-nav-list>
