# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/debug.log
src/app/task/task-list/debug.log
src/app/task/task-header/debug.log
src/app/task/quick-task/debug.log
src/app/task/new-task-list/debug.log
src/app/task/debug.log
src/app/shared/image-list-select/debug.log
src/app/shared/debug.log
src/app/shared/age-input/debug.log
src/app/services/debug.log
src/app/project/project-list/debug.log
src/app/project/project-item/debug.log
src/app/project/new-project/debug.log
src/app/project/debug.log
src/app/login/login/debug.log
src/app/domain/debug.log
src/app/debug.log
src/app/core/sidebar/debug.log
src/app/core/header/debug.log
src/app/core/debug.log
src/app/anims/debug.log
debug.log
src/app/task/task-item/debug.log
src/app/task/task-home/debug.log
src/app/task/new-task/debug.log
