<div class="tasklists">
  <app-task-list
    app-droppable
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    [app-draggable]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event)"
    (drop)="handleDrop()"
    (dragover)="handleDrop()"
    (dragleave)="handleDrop()"
    class="list-container"
    *ngFor="let list of lists"
  >
    <app-task-header
      [header]="list.name"
      (newTask)="lanuchNewTaskDialog()"
      (move)="lanuchCopyTasksDialog()"
      (delete)="lanuchDeleteTasksDialog()"
      (listChange)="lanuchListChangeDialog()"
    ></app-task-header>
    <app-quick-task
      (quickTask)="handleQuickTask($event, list.id)"
    ></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskItemClick)="lanuchUpdateTaskDialog(task)"
    ></app-task-item>
  </app-task-list>
</div>

<button
  class="fab-button"
  mat-fab
  type="button"
  (click)="openNewTaskListDialog()"
>
  <mat-icon>add</mat-icon>
</button>
