<mat-sidenav-container [class.myapp-dark-theme]="dark">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="site">
    <header>
      <app-header
        (toggle)="sidenav.toggle()"
        (toggleDarkTheme)="switchDarkTheme($event)"
      ></app-header>
    </header>
    <main>
      <div
        style="
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          flex-flow: row nowrap;
          align-items: center;
        "
      >
        <div class="square" [@square]="squareState" (click)="onClick()"></div>
      </div>
      <!-- <router-outlet></router-outlet> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-sidenav-container>
