<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          type="text"
          placeholder="email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="password"
          placeholder="password"
          formControlName="password"
        />
        <mat-error>{{ form.controls["email"].errors | json }}</mat-error>
        <mat-error>{{ form.controls["password"].errors | json }}</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit">login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>
        no account?
        <a routerLink="/register">register</a>
      </p>
      <p>
        forget password?
        <a href="">find</a>
      </p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Theming({{ (quote$ | async)?.id }})</mat-card-title>
      <mat-card-subtitle>{{ (quote$ | async)?.en }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/login.jpg" />
    <mat-card-content>{{ (quote$ | async)?.en }}</mat-card-content>
    <!-- <mat-card-footer>
      Never put off what you can do today until tomorrow.
    </mat-card-footer> -->
  </mat-card>
</form>
