<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width" color="accent">
        <input matInput type="text" placeholder="email" />
      </mat-form-field>
      <mat-form-field class="full-width" color="warn">
        <input matInput type="password" placeholder="password" />
      </mat-form-field>
      <button mat-raised-button type="button">login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>
        no account?
        <a href="">register</a>
      </p>
      <p>
        forget password?
        <a href="">find</a>
      </p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Theming</mat-card-title>
      <mat-card-subtitle>Keep on going never give up.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/imgs/login.jpg" />
    <mat-card-content>
      Do one thing at a time, and do well.
    </mat-card-content>
    <!-- <mat-card-footer>
      Never put off what you can do today until tomorrow.
    </mat-card-footer> -->
  </mat-card>
</form>
