.age-num {
  width: 50px;
}
.age-input {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid red;
  padding: 10px;
}

.ageDiv {
  display: flex;
  flex-flow: row nowrap;
}
