<mat-list-item
  class="container"
  [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority === 2,
    'priority-emergency': item.priority === 1
  }"
>
  <mat-checkbox
    class="completion-status"
    [checked]="item.completed"
  ></mat-checkbox>
  <div class="center-content-container">
    <div
      mat-line
      class="desc"
      [matTooltip]="item.desc"
      [ngClass]="{ completed: item.completed }"
    >
      {{ item.desc }}
    </div>
    <div mat-line class="bottom-bar" *ngIf="item.dueDate">
      <span class="duedate" *ngIf="item.dueDate">{{
        item.dueDate | date: "yy-MM-dd"
      }}</span>
      <mat-icon class="alarm" *ngIf="item.reminder">alarm</mat-icon>
    </div>
  </div>
  <mat-icon class="avatar" mat-list-avatar [svgIcon]="avatar"></mat-icon>
</mat-list-item>
